.tab-label {
    color: red; /* Change the text color of the label */
  }
  .bg-first {
    position: relative;
    overflow: hidden; 
  }
  
  .bg-first::before {
    content: "";
    position: absolute;
    top: 0;
    right: -25%;
    left:200;
    background: url("https://s3-alpha-sig.figma.com/img/f648/5bd1/b3ded1c88aeba7de6a4ab9ac06465bd7?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cDoEArOilluq2m~bB-0nb3Svryh7ZfzVIHvdW-jrFdiUPV8Klr96JoiiKKHr3jZPlDT~4Q0QVn1iazrmjOwkWvEaGasNbWP3brSXRtWVK2~BgKrLky9-0F0DaUQ-Qfk669qychoct7nj1CnqMjmRcD490xK5b5OEW9nhj3zs~sGw-6q5FnJnOdnEguEIz~wOx1zrMlER~3VSkTCdfrM32o9YTO0QLRo4JbCQvj4so2bNvlMIfweJgMXi28G0bwagi30ywgqdsOUaVJD77K-H-nsNW2tZvrH5q1fl~QaEKuIsiRibTgSQJbVtgiOlHm06Hs6LHb4rg5PXbGZeo0SeMw__");
    background-size: contain;
    width: 700px;
    height: 650px;
    background-repeat: no-repeat;
    opacity: 0.1; /* Adjust the opacity here */
  }
  
.first-h1{
    color: #000;
font-variant-numeric: lining-nums tabular-nums;

/* H1 */
font-family: "Avenir LT Std";
font-size: 36.49px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.para{
    color: #000;
font-variant-numeric: lining-nums tabular-nums;
font-family: "Avenir LT Std";
font-size: 20.25px;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 32.4px */
}
.first-p{
    color: var(--grey, #4D4D4D);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: "Avenir LT Std";
    font-size: 22.78px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; 
}
.p2{
    font-variant-numeric: lining-nums tabular-nums;
    font-family: "Avenir LT Std";
    font-size: 18px;
    font-style: normal;
    font-weight: 750;
    line-height: 156.5%; 
    background: var(--GradientText, linear-gradient(90deg, #F24397 0.17%, #F64C3B 105.5%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

    
}