.header-bg{
    background-color: 
    #FFF3E9;
    height:80px;
}
.menu-text{
    color: #000;
font-variant-numeric: lining-nums tabular-nums;
font-family: "Avenir LT Std";
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 156.5%;

}