/* Ensure the Swiper container has a defined height */
.swiper-container-wrapper {
    height: 400px; /* or any height you need */
    position: relative;
  }
  
  .swiper-vertical {
    height: 100%; /* Make the Swiper take the full height of the wrapper */
  }
  
  .swiper-vertical  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure slides take the full height of the Swiper */
  }
/* SwiperComponent.css */
/* Style for active slide */
.swiper-slide-active .bullet {
  color: #FE5266;
  width: 10px; /* Bullet width */
  height: 10px; /* Bullet height */
  background-color: #FE5266; /* Red bullet color */
  border-radius: 50%; /* Shape the bullet as a circle */

 
}
.swiper-slide-active h1{
  color: #FE5266;
}
