@tailwind base;
@tailwind components;
@tailwind utilities;
.app{
  background-color: #FDF8F4;
}
body {
  font-family: "Avenir LT Std", sans-serif;
  font-variant-numeric: lining-nums tabular-nums;
}

